In [3]:
# importing the required libraries
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
# calling out the headers and defining the url
url = "https://books.toscrape.com/catalogue/page-2.html"

# setting up a webpage
response = requests.get(url)

# using BeautifulSoup on a webpage
soup = BeautifulSoup(response.content,"html.parser")

In [5]:
# extracting a specfic element
title = soup.find("h3").text
title

'In Her Wake'

In [6]:
# scrapping the data
for i in soup.find_all("h3"):
    print(i.text.strip())

In Her Wake
How Music Works
Foolproof Preserving: A Guide ...
Chase Me (Paris Nights ...
Black Dust
Birdsong: A Story in ...
America's Cradle of Quarterbacks: ...
Aladdin and His Wonderful ...
Worlds Elsewhere: Journeys Around ...
Wall and Piece
The Four Agreements: A ...
The Five Love Languages: ...
The Elephant Tree
The Bear and the ...
Sophie's World
Penny Maybe
Maude (1883-1993):She Grew Up ...
In a Dark, Dark ...
Behind Closed Doors
You can't bury them ...

In [7]:
# making an empty list "book_name"
book_name=[]

# appending the scraped data in the list student_name
for i in soup.find_all("h3"):
    book_name.append(i.text.strip())
    
book_name

['In Her Wake',
 'How Music Works',
 'Foolproof Preserving: A Guide ...',
 'Chase Me (Paris Nights ...',
 'Black Dust',
 'Birdsong: A Story in ...',
 "America's Cradle of Quarterbacks: ...",
 'Aladdin and His Wonderful ...',
 'Worlds Elsewhere: Journeys Around ...',
 'Wall and Piece',
 'The Four Agreements: A ...',
 'The Five Love Languages: ...',
 'The Elephant Tree',
 'The Bear and the ...',
 "Sophie's World",
 'Penny Maybe',
 'Maude (1883-1993):She Grew Up ...',
 'In a Dark, Dark ...',
 'Behind Closed Doors',
 "You can't bury them ..."]

In [8]:
# number of rows
len(book_name)

20

In [9]:
# making another empty list and applying same (appending the data in the list)
price_avail=[]
for i in soup.find_all("p"):
    price_avail.append(i.text.strip())
    
price_avail

['',
 '£12.84',
 'In stock',
 '',
 '£37.32',
 'In stock',
 '',
 '£30.52',
 'In stock',
 '',
 '£25.27',
 'In stock',
 '',
 '£34.53',
 'In stock',
 '',
 '£54.64',
 'In stock',
 '',
 '£22.50',
 'In stock',
 '',
 '£53.13',
 'In stock',
 '',
 '£40.30',
 'In stock',
 '',
 '£44.18',
 'In stock',
 '',
 '£17.66',
 'In stock',
 '',
 '£31.05',
 'In stock',
 '',
 '£23.82',
 'In stock',
 '',
 '£36.89',
 'In stock',
 '',
 '£15.94',
 'In stock',
 '',
 '£33.29',
 'In stock',
 '',
 '£18.02',
 'In stock',
 '',
 '£19.63',
 'In stock',
 '',
 '£52.22',
 'In stock',
 '',
 '£33.63',
 'In stock']

In [10]:
# finding the number of rows in both lists. (both should be equal)

price= price_avail[1::3]
len(price)

20

In [11]:
stock= price_avail[2::3]
len(stock)

20

In [12]:
# making a dictionary to create a data frame
dict = {
    "book_name":book_name,
    "price":price,
    "stock":stock
}

In [13]:
# creating a dataframe of the dictionary
df=pd.DataFrame(dict)
df

                                book_name   price     stock
0                             In Her Wake  £12.84  In stock
1                         How Music Works  £37.32  In stock
2       Foolproof Preserving: A Guide ...  £30.52  In stock
3              Chase Me (Paris Nights ...  £25.27  In stock
4                              Black Dust  £34.53  In stock
5                Birdsong: A Story in ...  £54.64  In stock
6   America's Cradle of Quarterbacks: ...  £22.50  In stock
7           Aladdin and His Wonderful ...  £53.13  In stock
8   Worlds Elsewhere: Journeys Around ...  £40.30  In stock
9                          Wall and Piece  £44.18  In stock
10             The Four Agreements: A ...  £17.66  In stock
11           The Five Love Languages: ...  £31.05  In stock
12                      The Elephant Tree  £23.82  In stock
13                   The Bear and the ...  £36.89  In stock
14                         Sophie's World  £15.94  In stock
15                            Penny Maybe  £33.29  In stock
16      Maude (1883-1993):She Grew Up ...  £18.02  In stock
17                    In a Dark, Dark ...  £19.63  In stock
18                    Behind Closed Doors  £52.22  In stock
19                You can't bury them ...  £33.63  In stock

In [14]:
# for multiple pages we need to run the loop while repeating the entire steps

# creating the lists
book_name_new = []
price_new=[]
stock_new =[]

In [15]:
# appending the data in the lists degree and course_name
for i in range(1,51):
    url_new = f"https://books.toscrape.com/catalogue/page-{i}.html"
    response_new = requests.get(url_new)
    soup_new = BeautifulSoup(response_new.content,"html.parser")
    
    for i in soup_new.find_all("h3"):
        book_name_new.append(i.text.strip())

In [16]:
len(book_name_new)

1000

In [17]:
price_avail_new = []
for i in range(1,51):
    url_new = f"https://books.toscrape.com/catalogue/page-{i}.html"
    response_new = requests.get(url_new)
    soup_new = BeautifulSoup(response_new.content,"html.parser")
    
    for i in soup_new.find_all("p"):
        price_avail_new.append(i.text.strip())

In [18]:
len(price_avail_new)

3000

In [19]:
price_new= price_avail_new[1::3]
len(price_new)

1000

In [20]:
stock_new= price_avail_new[2::3]
len(stock_new)

1000

In [21]:
# creating the new dictionary again as dict and making a datafram of the dictionary
dict_new = {
    "book_name": book_name_new,
    "price" : price_new,
    "stock" : stock_new
}

In [22]:
df_new = pd.DataFrame(dict_new)
df_new

                            book_name   price     stock
0                  A Light in the ...  £51.77  In stock
1                  Tipping the Velvet  £53.74  In stock
2                          Soumission  £50.10  In stock
3                       Sharp Objects  £47.82  In stock
4        Sapiens: A Brief History ...  £54.23  In stock
..                                ...     ...       ...
995  Alice in Wonderland (Alice's ...  £55.53  In stock
996    Ajin: Demi-Human, Volume 1 ...  £57.06  In stock
997         A Spy's Devotion (The ...  £16.97  In stock
998           1st to Die (Women's ...  £53.98  In stock
999           1,000 Places to See ...  £26.08  In stock

[1000 rows x 3 columns]

In [23]:
df_new.tail()

                            book_name   price     stock
995  Alice in Wonderland (Alice's ...  £55.53  In stock
996    Ajin: Demi-Human, Volume 1 ...  £57.06  In stock
997         A Spy's Devotion (The ...  £16.97  In stock
998           1st to Die (Women's ...  £53.98  In stock
999           1,000 Places to See ...  £26.08  In stock

In [24]:
df_new.head()

                      book_name   price     stock
0            A Light in the ...  £51.77  In stock
1            Tipping the Velvet  £53.74  In stock
2                    Soumission  £50.10  In stock
3                 Sharp Objects  £47.82  In stock
4  Sapiens: A Brief History ...  £54.23  In stock

In [25]:
df_new.shape

(1000, 3)

In [26]:
df_new.to_csv('books_to_scrape.csv', index=False)